<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<div layout:fragment="content">
    <div th:if="${flash} != null">
        <p th:text="${flash}">flash message</p>
    </div>

    <section>
       <div class="card" th:each="blog : ${blogs}">
           <div class="card-body">
               <h4 class="card-title">
                   <a th:href="@{/blogs/{id}(id=${blog.id})}" th:text="${blog.title}">Card title</a>
               </h4>
               <h6 class="card-subtitle mb-2 text-muted">
                   create at <span th:text="${blog.createdAt}"></span>
               </h6>

                <div th:if="${session.containsKey('SPRING_SECURITY_CONTEXT')}">
                    <a class="card-link" th:href="@{/blogs/{id}/edit(id=${blog.id})}">編集</a>
                    <form class="card-form" th:action="@{/blogs/{id}(id=${blog.id})}" th:method="delete">
                        <button class="btn btn-danger">削除</button>
                    </form>
                </div>
           </div>
       </div>
    </section>
</div>
</html>