<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Blog site title</h1>
<p>Hello, <span th:text="${username}"></span></p>
<div th:if="${username != null}">
    <form th:action="@{/logout}" th:method="post">
        <button type="submit">ログアウト</button>
    </form>
</div>
<section>
    <article th:each="blog : ${blogs}">
        <h2 th:text="${blog.title}">title</h2>
        <p th:if="${session.containsKey('SPRING_SECURITY_CONTEXT')}">
            <a th:href="@{/blogs/{id}/edit(id=${blog.id})}">edit</a>
        </p>
    </article>
</section>
</body>
</html>