<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Blog input</h1>


<section>
    <form th:action="@{/blogs/create}" th:method="post">
        <p>
            title: <input type="text" name="title">
        </p>
        <p>
           content: <textarea name="content" id="" cols="30" rows="10"></textarea>
        </p>
        <button type="submit">投稿する</button>
    </form>
</section>
</body>
</html>