nav.navbar {
    margin-bottom: 2rem;
}
button.btn {
    cursor: pointer;
}

.card + .card {
    margin-top: 1rem;
}

form.card-form{
    display: inline-block;
}

.card-link + .card-form, .card-form + .card-link {
    margin-left: 1rem;
}

article > header {
    font-size: 3rem;
}

article > time.subtitle {
    color: #868e96;
}

article > section {
    margin-top: 2rem;
}

nav.navbar > a + form {
    margin-left: 1rem;
}